[submodule "thirdparty/glfw"]
	path = thirdparty/glfw
	url = https://github.com/glfw/glfw.git
	ignore = dirty
[submodule "thirdparty/glm"]
	path = thirdparty/glm
	url = https://github.com/g-truc/glm.git
	ignore = dirty
[submodule "thirdparty/stb"]
	path = thirdparty/stb
	url = https://github.com/nothings/stb.git
	ignore = dirty
[submodule "thirdparty/glew"]
	path = thirdparty/glew
	url = https://github.com/nigels-com/glew.git
	ignore = dirty
[submodule "thirdparty/boxer"]
	path = thirdparty/boxer
	url = https://github.com/aaronmjacobs/Boxer.git
	ignore = dirty
[submodule "thirdparty/googletest"]
	path = thirdparty/googletest
	url = https://github.com/google/googletest.git
	ignore = dirty
[submodule "thirdparty/freetype"]
	path = thirdparty/freetype
	url = git://git.sv.nongnu.org/freetype/freetype2.git
	ignore = dirty
[submodule "thirdparty/tinydir"]
	path = thirdparty/tinydir
	url = https://github.com/cxong/tinydir.git
	ignore = dirty
[submodule "thirdparty/bullet"]
	path = thirdparty/bullet
	url = https://github.com/bulletphysics/bullet3.git
	ignore = dirty
[submodule "thirdparty/libpng"]
	path = thirdparty/libpng
	url = git://git.code.sf.net/p/libpng/code
	ignore = dirty
[submodule "thirdparty/zlib"]
	path = thirdparty/zlib
	url = https://github.com/madler/zlib.git
	ignore = dirty
[submodule "thirdparty/lodepng"]
	path = thirdparty/lodepng
	url = https://github.com/lvandeve/lodepng.git
	ignore = dirty
[submodule "thirdparty/openvr"]
	path = thirdparty/openvr
	url = https://github.com/ValveSoftware/openvr
	ignore = dirty
[submodule "thirdparty/steam-audio"]
	path = thirdparty/steam-audio
	url = https://github.com/ValveSoftware/steam-audio
	ignore = dirty
[submodule "thirdparty/openal-soft"]
	path = thirdparty/openal-soft
	url = https://github.com/kcat/openal-soft
	ignore = dirty
