[submodule "thirdparty/glfw"]
	path = thirdparty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "thirdparty/glm"]
	path = thirdparty/glm
	url = https://github.com/g-truc/glm.git
[submodule "thirdparty/stb"]
	path = thirdparty/stb
	url = https://github.com/nothings/stb.git
[submodule "thirdparty/glew"]
	path = thirdparty/glew
	url = https://github.com/nigels-com/glew.git
[submodule "thirdparty/boxer"]
	path = thirdparty/boxer
	url = https://github.com/aaronmjacobs/Boxer.git
[submodule "thirdparty/googletest"]
	path = thirdparty/googletest
	url = https://github.com/google/googletest.git
[submodule "thirdparty/freetype"]
	path = thirdparty/freetype
	url = git://git.sv.nongnu.org/freetype/freetype2.git
[submodule "thirdparty/tinydir"]
	path = thirdparty/tinydir
	url = https://github.com/cxong/tinydir.git
[submodule "thirdparty/bullet"]
	path = thirdparty/bullet
	url = https://github.com/bulletphysics/bullet3.git
[submodule "thirdparty/libpng"]
	path = thirdparty/libpng
	url = git://git.code.sf.net/p/libpng/code
